<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teaching Research Registration</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="/static/app.js"></script>
<style>   
    
</style>    
</head>

    <ul>
        <li><a class="active" href="">总览</a></li>
        <li><a href="add">登记</a></li>
        <li><a href="query">查询</a></li>
        <li><a href="search">导出</a></li>
    </ul>
<body>
    
    
    <div>
        <h1>教师教学科研登记系统</h1>
    <form id="add-teacher-form">
        <p>
        <label for="name">姓名:</label>
        <input type="text" id="name" name="name" required>
        <label for="gender">性别:</label>
        <select id="gender" name="gender" required>
            <option value="1">Male</option>
            <option value="2">Female</option>
        </select>
        <label for="title">职称:</label>
        <select id="title" name="title" required>
            <option value="1">Postdoc</option>
            <option value="2">Assistant</option>
            <option value="3">Lecturer</option>
            <option value="4">Associate Professor</option>
            <option value="5">Special professor</option>
            <option value="6">Professor</option>
            <option value="7">Research Assistant</option>
            <option value="8">Special associate Researcher</option>
            <option value="9">Associate Researcher</option>
            <option value="10">Special Researcher</option>
            <option value="11">Researcher</option>
        </select>
        <button type="submit">Add Teacher</button>
    </p>
    </form>
    <hr>
    <form id="add-course-form">
        <p>
        <label for="id">课程编号:</label>
        <input type="number" id="id" name="id" required>
        <label for="name">课程名称:</label>
        <input type="text" id="name" name="name" required>
        <label for="hours">学时:</label>
        <input type="number" id="hours" name="hours" required>
        <label for="type">类型:</label>
        <select id="type" name="type" required>
            <option value="1">本科生课程</option>
            <option value="2">研究生课程</option>
        </select>
        <button type="submit">Add Course</button>
    </p>
    <hr>
    </form>
    
    <h2>论文删除</h2>
    
    <form id="delete-paper-form">
        <p>
        <label for="id">论文编号:</label>
        <input type="number" id="id" name="id" required>
        <button type="submit">Delete Paper</button>
    </p>
    </form>
    <hr>
    <h2>项目删除</h2>
    
    <form id="delete-project-form">
        <p>
        <label for="id">项目编号:</label>
        <input type="number" id="id" name="id" required>
        <button type="submit">Delete Project</button>
    </p>
    </form>

    <hr>

    
    <h2>Teachers List 
        <button id="button" >刷新</button>
    </h2>
    
    <table id="teacher-table"></table>
    


    <h2>Courses List
        <button id="coursebutton" >刷新</button>
    </h2>
    
    <table id="course-table"></table>
    
    <hr>
    <h2>Papers List
        <button id="paperbutton" >刷新</button>
    </h2>
    <table id="paper-table"></table>

    <h2>Project List
        <button id="projectbutton" >刷新</button>
    </h2>
    <table id="project-table"></table>

</div>
</body>

</html>
